$box-size: 10px;
$box-space: 2px;
$label-color: #999;

$base-font-size: 0.8em;
$base-box-size: 10px;

$font-size: $base-font-size * $box-size/$base-box-size;


body {
  font-size: 1em;
}

div.week {
  border: solid 1px #ccc;
  position: relative;
  padding: $box-size;
  margin: $box-size;
  padding-right: $box-size + $box-space;
  display: inline-block;

  div.time-stamp {
    position: absolute;
//    border: solid 1px #ccc;

    div.am,div.pm {
      float:left;
      font-size: $font-size;
      color: $label-color;
    }

    div.am {
      top: 0;
      margin-top: $box-size + $box-space*2;
    }

    div.pm {
      position: absolute;
      top: ($box-size + $box-space) * 5 + $box-space;
      left:0;
    }
  }
}

div.days {
  div.day {
    margin: 0;
    padding: 0;
    width: $box-size;
    display: inline-block;
    margin-left: $box-space;

    div.dow {
      height: $box-size;
      width: $box-size;
      display: inline-block;
      text-align: center;
      margin-left: 2px;
      color: $label-color;
      position:absolute;
      font-size: $font-size;
    }

    div.hours {
      margin-top: $box-size + $box-space*2;//$box-size;
//            border: solid 1px #ccc;

      div.hour {
        height: $box-size;
        width: $box-size;
        //      border: solid 1px #eee;
        margin: 2px;
        padding: 0;
        background-color: #f0f0f0;
      }

      div.day_am {
        background-color: #f9f9f9;
        //      border: solid 1px #f0f0f0;
      }
    }
  }

  div.day:first-child {
    margin-left:$box-size*2;//25px;
  }

}

