@import "box-grid-variables";

$label-color: #999;
$base-font-size: 0.8em;
$base-box-size: 10px;
$font-size: $base-font-size * $box-size/$base-box-size;

.week-grid {
  position: relative;
  padding: $box-size/2 $box-size;
  padding-right: $box-size + $box-space;
  display: inline-block;

  .wkg-time-stamp {
    position: absolute;
  }

  .wkg-am, .wkg-pm {
    float: left;
    font-size: $font-size;
    color: $label-color;
  }

  .wkg-am {
    top: 0;
    margin-top: $box-size + $box-space*2;
  }

  .wkg-pm {
    position: absolute;
    top: ($box-size + $box-space) * 5 + $box-space;
    left: 0;
  }

  .wkg-title {
    color: red;
    position: relative;
    margin-left: $box-size*2;
  }

  .wkg-day {
    height: $box-size;
    width: $box-size;
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    color: $label-color;
    font-size: $font-size;
  }

  .wkg-container .box-grid {
    display: inline-block;
    margin-left: $box-size*2;

    @include default-cell-color(#f0f0f0);
    @include default-cell-highlight-color(#fafafa);
    @include level-colors(#941ad6, (0, 25%, 38%, 45%, 50%));
  }
}
.cool .box-grid {
  @include default-cell-color(#fafafa);
  @include default-cell-highlight-color(#eef5ff);
  @include level-colors(#4394ff, (0, 5%, 15%, 27%, 33%));
}

.circles-default .box-grid {
  .bg-col-row {
    border-radius: $box-size/2;
    border:solid 1px  #f0f0f0;
  }
}

.circles-odd .box-grid {
  .bg-col-row {
    border-radius: $box-size $box-size/2 $box-size 0;
    border:solid 1px  #f0f0f0;
  }
}

.circles .box-grid {
  .bg-col-row {
    border-radius: $box-size/2;
    border:solid 1px  #ffeee3;
  }
}