<div style="width:800px; margin:0 auto">

	<div class="grid" ng-controller="DemoWeekController" style="margin-bottom: 20px;">
		<div class="title">Activity by Week</div>
		<week-grid week-grid grid-id="weekId" hightlight-level="4" days="days" activities="activities">
			this should be replaced by directive
		</week-grid>
	</div>

	<div ng-controller="DemoWeekController" class="cool">
		<div box-grid box-grid-id="boxGrid" hightlight-level="4" grid-data-source="days"
			 levels-data-source="activities">
			this should be replaced by directive
		</div>
	</div>

	<div ng-controller="DemoWeekController" class="circles">
		<div box-grid box-grid-id="boxGrid" hightlight-level="4" grid-data-source="days"
			 levels-data-source="activities">
			this should be replaced by directive
		</div>
	</div>

	<div ng-controller="DemoWeekController">
		<div box-grid box-grid-id="boxGrid" hightlight-level="7" grid-data-source="days">
			this should be replaced by directive
		</div>
	</div>

	<div ng-controller="DemoWeekController">
		<div box-grid box-grid-id="boxGrid" hightlight-level="2" grid-data-source="days">
			this should be replaced by directive
		</div>
	</div>

	<div ng-controller="DemoWeekController">
		<div box-grid box-grid-id="boxGrid" hightlight-level="2" grid-data-source="days">
			this should be replaced by directive
		</div>
	</div>


	<div ng-controller="DemoWeekController">
		<div box-grid box-grid-id="boxGrid" hightlight-level="4" grid-data-source="days">
			this should be replaced by directive
		</div>
	</div>

	<div ng-controller="DemoMonthController">
		<div box-grid box-grid-id="boxGrid" hightlight-level="4" grid-data-source="weeks">
			this should be replaced by directive
		</div>
	</div>
</div>